# Masukan API ID ambil di web my.telegram.org
API_ID = 18419151

# Masukan API HASH ambil di web my.telegram.org
API_HASH = ee497faeae20bc517e0b517ce0496533

# Masukan String PYROGRAM Bisa di ambil Lewat t.me/StringManRobot
# Untuk Multi Client Tambahkan STRING_SESSION2 sampai STRING_SESSION5
STRING_SESSION1 = BQBZSYY23RGA1SitaBjG6g1BJD_eviofZjeP5YUxNnMAznBsMY2tl2GJ9XDiICCF4hcWlUTPh6PlAAahpzdQScp0aOovbjokKNDWUSnVjdqwxvfaDaAXHDQuU7moYu7i5O7xfQkKirHgK602_DwpmBLvYLIpQsOzP-_VGSs5jBloS7FVVkN7k4NCV4zRVNAqznGACIh1HOa6XqjZSSc3vrS6UxkQvQYDPa_sbnGrmJtocyQFrOHD-a4VyXrUBkI8CGi2aw1fieUwPL4GWtybMzWIq6KM1SXG9gNncZYNdHSXNjDHBv8eaX5LdNgz0eO2oSVdXk23m-sgcv7IYe1X_3G5Y9YlPAA

# Masukan Chat ID dari Group Untuk Bot Log Userbot
# Bila tidak ingin pakai Log userbot, isi dengan 0
# Bila tidak di isi default pindah ke Pesan Tersimpan
BOTLOG_CHATID = -1001300787749

# Masukan URL Database Anda, Ambil dari https://elephantsql.com
# Contoh: "postgres://userbot:userbot@localhost:5432/userbot"
DATABASE_URL = postgres://byybntpr:LFw40RshB0oR0yZe5V9p5KDoPERQgFbT@satao.db.elephantsql.com/byybntpr
